        <footer class="footer fixed-bottom mt-auto py-3 bg-light">
            <div class="container">
                <span class="text-muted text-center text-wrap">Theodosis Katsoulis | Copyright ©2023 | <a href="/terms"> Terms </a></span>
            </div>
        </footer>
    </body>
</html>