<%- include('partials/header') %>



<div class="mx-auto col-lg-8">
  <div class="row mt-3 mx-1">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Option 1: Url Shortener</h5>
          <p class="card-text">Change URLs <i class="fa-solid fa-right-long"></i> to this: <span class="badge text-bg-light">"AzfAtp"</span></p>
          <a href="original" class="btn btn-warning">Try now!</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Option 2: Redirect to website with short url</h5>
          <p class="card-text">Enter your code and be redirected to the original website.</p>
          <a href="short" class="btn btn-warning">Try now!</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
