<%- include('../partials/header') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p class="display-5">Short -> Original</p>
            <label for="url" class="form-label">Your original url is ready</label>
            <input type="text" id="url" class="form-control" aria-labelledby="urlHelpBlock" value="<%=result%>">
            <div id="urlHelpBlock" class="form-text">
                Copy the link from above or use the "Redirect Me" button to get straight to your website.
            </div>
            <div class="mt-3">
                <a href="http://<%=result%>" target="_self"><button type="submit" class="btn btn-primary">Redirect me!</button></a>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
